{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md4">
			<figure class="text-center">
			  <blockquote class="blockquote">
				<div class="category_list">
					<a href="#" class="category_item" category="all">Todo</a>
					<a href="#" class="category_item" category="rock">Rock</a>
					<a href="#" class="category_item" category="hip-hop">Hip Hop</a>
					<a href="#" class="category_item" category="videoGame">Video Game</a>
					<a href="#" class="category_item" category="pop">Pop</a>
				</div>
			  </blockquote>
			</figure>
<!-- C.Terrible -->
			<div class="card card-body musik-item" category="hip-hop">
				<div class="d-flex">
					<div class="flex-shrink-0">
					    <img src="https://geo-media.beatsource.com/image_size/1400x1400/0/b/1/0b177906-5aa2-4f11-b422-b4ad004d52ce.jpg" style="width: 10rem;">
					</div>
					<div class="flex-grow-1 ms-3">
						<h1>C. Terrible – Burundanga</h1>
					    <table class="table_1fWaB">
					    	<tbody>
					    		<tr>
					    			<th scope="row">Sello: </th>
					    			<td>Entik Records - none</td>
					    		</tr>
					    		<tr>
					    			<th scope="row">Formato: </th>
					    			<td>CD, Album</td>
					    		</tr>
					    		<tr>
					    			<th scope="row">País: </th>
					    			<td>Spain</td>
					    		</tr>
					    		<tr>
					    			<th scope="row">Publicado: </th>
					    			<td>2014</td>
					    		</tr>
					    		<tr>
					    			<th scope="row">Genero: </th>
					    			<td>Hip Hop</td>
					    		</tr>
					    	</tbody>
					    </table>
					</div>
					<div>
						<a target="_blank" href="magnet:?xt=urn:btih:40DAE83D6BBAA9BC4E9ED3C5378294C76A2754AE&dn=C.%20Terrible%20%26%20LNS%20-%20Burundanga&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- Motoi Sakuraba - Dark Souls with Artorias of  The Abyss Edition -->
	<main class="container mt-5 musik-item" category="videoGame">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://i.discogs.com/Qyv8BJjEA5usFchkn964DQj7IlCW297gbnu10XQMOr0/rs:fit/g:sm/q:90/h:600/w:487/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTY4NzE5/MzktMTQ3NjE4NjI1/OS03NDczLmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Motoi Sakuraba - Dark Souls</h1>
							<h2>With Artorias of The Abyss Edition</h2>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>FromSoftware – FFSA-ST003</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album, Cofre, Limited Edition</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Japan</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>25 oct 2012</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Electronic, Classical, Stage & Screen</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Soundtrack, Video Game Music</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:BA0D56AA554D8188DD8C69240615F74DBA36EC55&dn=Motoi%20Sakuraba%20-%20Dark%20Souls%20with%20Artorias%20of%20%20The%20Abyss%20Edition&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Jeremy Soule - Neverwinter Nights -->
	<main class="container mt-5 musik-item" category="videoGame">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://i.discogs.com/91VRbOm6svOfcqN4b75f1ZTyTuzCj5qnnVVXOL5XoRQ/rs:fit/g:sm/q:90/h:594/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI1NzI0/MzktMTUwOTkyNTQ2/Ny01NDAyLmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Jeremy Soule – Neverwinter Nights Soundtrack</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>GoG.com – none</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>81 x Archivo, MP3, Stereo, 320 kbps</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>US</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>oct 2010</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Electronic, Stage & Screen</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Soundtrack, Modern Classical, Video Game Music</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:27BC5E05430229AB5AFB07BEAB1133029E34CD71&dn=Jeremy%20Soule%20-%20Neverwinter%20Nights&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Shawn Lee - Bully Canis Canem Edit -->
	<main class="container mt-5 musik-item" category="videoGame">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://is3-ssl.mzstatic.com/image/thumb/Music/5b/85/8f/mzi.kbsdnzzj.jpg/600x600bf-60.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Shawn Lee - Bully Canis Canem Edit</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Rockstar Games – none</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>26 x Archivo, MP3, VBR, eMusic Edition</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>US</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>16 sep 2006</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Electronic, Jazz, Rock, Funk / Soul, Stage & Screen</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Breakbeat, Rock & Roll, Jazz-Funk, Synth-pop, Soundtrack, Video Game Music</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:BF053A41FDD29984AA687E4E64A9178149DCB70D&dn=Shawn%20Lee%20-%20Bully%20Canis%20Canem%20Edit%201&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
							<div><i>Primer mitad</i></div>
							<a target="_blank" href="magnet:?xt=urn:btih:6519D0521CD5DC3A787A2B3576E65F85E5EA29AC&dn=Shawn%20Lee%20-%20Bully%20Canis%20Canem%20Edit%202&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
							<div><i>Primer mitad</i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- El Doctor - FAFA -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://images.genius.com/9b5fb1fd2c53f2714f2fc1b8bffe7821.1000x1000x1.png" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>El Doctor - FAFA</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Not On Label (El Doctor Self-released) – none</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Argentina</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>15 October 2021</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Drill, Hardcore Hip-Hop,Gangsta Rap, Cloud Rap, Plugg, UK Drill</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:8B4E5287C51C7030259672D2622AF0ADF3BDF26E&dn=El%20Doctor%20-%20FAFA&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Jim Sullivan - U.F.O -->
	<main class="container mt-5 musik-item" category="rock">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://i.discogs.com/XSApkEWPSbmjWRXIRH6uFqUNjRsxAAmvTUmfVLcRiBU/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTUwMzY3/MDQtMTYxMDMzNDk4/NC05MTAzLmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Jim Sullivan - U.F.O</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Light In The Attic – LITA 054</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Serie: </th>
						    			<td>Vinyl Me, Please. Essentials – E081</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>Vinilo, LP, Album, Club Edition, Reissue, Remastered, Coke Bottle Clear, 180 Gram</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>US</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>sept 2019</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Rock</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Folk Rock, Psychedelic Rock</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:0B870E38EA5F4A6975303702AB869D7198B1E04F&dn=Jim%20Sullivan%20-%20U.F.O&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- CA7RIEL - EL DISKO -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://indiehoy.com/wp-content/uploads/2021/11/ca7riel.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>CA7RIEL - EL DISKO</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>2020 (Label), Clix & DALE PLAY Records</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Argentina</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>10 nov 2021</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>R&B/Soul, Urbano latino, Hip-hop/rap</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>R&B/Soul, Urbano latino, Hip-hop/rap</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:CFE84E5AC5B220F31B5751FDBEC7F88B6D7C2842&dn=CA7RIEL%20-%20EL%20DISKO&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Paco Amoroso - Saeta -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://t2.genius.com/unsafe/632x0/https%3A%2F%2Fimages.genius.com%2F85be274c433d24cef91db8501c7f81b5.1000x1000x1.png" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Paco Amoroso - Saeta</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>2020 (Label), Clix & DALE PLAY Records</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Argentina</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>25 nov 2021</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>R&B/Soul, Urbano latino, Hip-hop/rap</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>R&B/Soul, Urbano latino, Hip-hop/rap</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:9B684AB2C06F26451391CD616E2102C6EB0BD28E&dn=Paco%20Amoroso%20-%20Saeta&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Shaolin Monkey - Coto de Caza -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://t2.genius.com/unsafe/632x0/https%3A%2F%2Fimages.genius.com%2F5c8083e7ee10f1177acb86bdbc78be23.500x500x1.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Shaolin Monkey - Coto de Caza</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>B!GLA, J. Moods, M. Padrón & Quiroga</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>non label</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>17 febrero 2019</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Boombap, Rap</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:DD25E26FC326914F48A9381726FE284F106C85B5&dn=Shaolin%20Monkey%20-%20Coto%20de%20Caza&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Socio Ejecutor - Sabor Primitivo -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://t2.genius.com/unsafe/632x0/https%3A%2F%2Fimages.genius.com%2Fddb0cc78cb56e4f25ea36a9fa81ccc01.1000x1000x1.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Socio Ejecutor - Sabor Primitivo</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Pebens Beats</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>non label</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>3 febrero 2014</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Boombap, Rap</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:2E4D8CFDDB28B64E155DF37F5217A6007DA6B4E9&dn=Socio%20Ejecutor%20-%20Sabor%20Primitivo&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Socio Ejecutor - Lágrimas de Mono -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://m.media-amazon.com/images/I/81envFXYreL._SS500_.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Socio Ejecutor - Lágrimas de Mono</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Pebens Beats</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>non label</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>28 julio 2017</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Boombap, Rap</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:DEAB79A2EA2750FD44ED9189803456DEBE97ECBE&dn=Socio%20Ejecutor%20-%20L%c3%a1grimas%20de%20Mono&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- C. Terrible - Back To The Jungle -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://images.genius.com/a056c759829006dd9a34a650367a04c9.500x500x1.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>C. Terrible - Back To The Jungle</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Entik Records - none</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Spain</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>15 marzo 2019</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Hip Hop</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:B8B27F2571719311D9F8163D3B6F74CA4C631332&dn=C.%20Terrible%20-%20Back%20To%20The%20Jungle&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Babi The Blackbull & C. Terrible - Men In Black -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://m.media-amazon.com/images/I/71bgi0L6CiL._SS500_.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Babi The Blackbull & C. Terrible - Men In Black</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Entik Records - none</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Spain</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>17 abril 2020</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Hip Hop</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:CEADCC96F95B5A493A0A2501F3AE60E403E8976B&dn=Babi%20The%20Blackbull%20%26%20C.%20Terrible%20-%20Men%20In%20Black&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- C. Terrible - R.A.D.M -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://mp3.hhgroups.com/albumes/C.-Terrible-Renacer-antes-de-morir-R.A.D.M.-53363_front.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>C. Terrible - R.A.D.M</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Entik Records - none</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Spain</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>1 enero 2021</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Hip Hop</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:BF79214B42B59A80E610B696B8166376296FCA06&dn=C.%20Terrible%20-%20R.A.D.M&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- C. Terrible & 1010! - Sucio y Bastardo -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://i.scdn.co/image/ab67616d0000b273eaa5c27769dd9cf1fe9513db" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>C. Terrible & 1010! - Sucio y Bastardo</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Entik Records - none</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Spain</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>2 feb 2022</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Hip Hop</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:445F0C386B706DB4FA1C1DBF812A1CB4EF495E0B&dn=C.%20Terrible%20%26%201010%21%20-%20Sucio%20y%20Bastardo&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Nirvana Live, Buenos Aires, Estadio Velez Sarsfield (30/10/1992) -->
	<!-- Disco 1 -->
	<main class="container mt-5 musik-item" category="rock">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://1.bp.blogspot.com/-KK7vXg_cxcM/XnXAUWQMXNI/AAAAAAAAC4o/pQUbIZWLdYIV7Bj2OIei_eQVNxczokaZACLcBGAsYHQ/s320/nirvanaargentina.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Nirvana Live, Buenos Aires, Estadio Velez Sarsfield (30/10/1992) (Disco 1)</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Vinyl Passion – VP 80715</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>2 x Vinilo, LP, Unofficial Release</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Netherlands</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>30 oct 1992</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Rock</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Grunge, Alternative Rock</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:0FBF654B806C5C6F8A9670EE39786505DB595563&dn=Nirvana%20Live%2c%20Buenos%20Aires%2c%20Estadio%20Velez%20Sarsfield%20%2830-10-1992%29%20%28Disco%201%29&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Nirvana Live, Buenos Aires, Estadio Velez Sarsfield (30/10/1992) -->
	<!-- Disco 2 -->
	<main class="container mt-5 musik-item" category="rock">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://i.discogs.com/l9pY3AtofUMVg8f5kGpH83l0kTcqruSmNFVKRx92eSk/rs:fit/g:sm/q:90/h:586/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTYxMjg2/NzctMTQyMjgzNTIz/OS05ODk3LmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Nirvana Live, Buenos Aires, Estadio Velez Sarsfield (30/10/1992) (Disco 2)</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Vinyl Passion – VP 80715</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>2 x Vinilo, LP, Unofficial Release</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Netherlands</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>30 oct 1992</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Rock</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Grunge, Alternative Rock</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:D6EFCE42AEB4A6F28558CD16BCD10B2E595DDD17&dn=Nirvana%20Live%2c%20Buenos%20Aires%2c%20Estadio%20Velez%20Sarsfield%20%2830-10-1992%29%20%28Disco%202%29&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Foo Fighters - Foo Fighters -->
	<main class="container mt-5 musik-item" category="rock">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://i.discogs.com/M_QNya94MpMhPXeKW1_qjHT-vzoz8UubLokyzNCbrvo/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTMyNDI2/MTItMTQyODA5NTM3/OS0yNDUzLmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Foo Fighters - Foo Fighters</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>RCA – 88697983211RE1, Legacy – 88697983211RE1, Roswell Records – 88697983211</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>Vinilo, LP, Album, Reissue</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>US</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>21 nov 2011</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Rock</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Alternative Rock</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:108B3ED3F540B5DE32F4E85FBEFC8B34776BF2B9&dn=Foo%20Fighters%20-%20Foo%20Fighters&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Foo Fighters - The Colour And The Shape -->
	<main class="container mt-5 musik-item" category="rock">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="https://m.media-amazon.com/images/I/61G0FLW7HIL._SL1500_.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Foo Fighters - The Colour And The Shape</h1>
							<table class="table_1fWaB">
								<tbody>
									<tr>
										<th scope="row">Sello: </th>
										<td>Capitol Records – 8 55832 2, Roswell Records – 8 55832 2, EMI – 8 55832 2</td>
									</tr>
									<tr>
										<th scope="row">Formato: </th>
										<td>CD, Album</td>
									</tr>
									<tr>
										<th scope="row">País: </th>
										<td>Brazil</td>
									</tr>
									<tr>
										<th scope="row">Publicado: </th>
										<td>20 may 1997</td>
									</tr>
									<tr>
										<th scope="row">Genero: </th>
										<td>Rock</td>
									</tr>
									<tr>
										<th scope="row">Estilo: </th>
										<td>Alternative Rock, Hard Rock</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:416C4E9B543A9C0706C72EF2FF9FE34CF23EAB34&dn=Foo%20Fighters%20-%20The%20Colour%20And%20The%20Shape&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Wu-Tang Clan -  Enter the Wu-Tang (36 Chambers) -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="https://i.discogs.com/0ohLcsZG3-GW3dUlYaquwmgWDDafAmtWL2pHxek3QM0/rs:fit/g:sm/q:90/h:593/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTU3NjMy/OTktMTQxMDg1NTI5/Mi05ODAzLmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Wu-Tang Clan -  Enter the Wu-Tang (36 Chambers)</h1>
							<table class="table_1fWaB">
								<tbody>
									<tr>
										<th scope="row">Sello: </th>
										<td>BMG – BG2 66336, BMG – BG2-66336</td>
									</tr>
									<tr>
										<th scope="row">Formato: </th>
										<td>CD, Album, Club Edition</td>
									</tr>
									<tr>
										<th scope="row">País: </th>
										<td>US</td>
									</tr>
									<tr>
										<th scope="row">Publicado: </th>
										<td>09 nov 1993</td>
									</tr>
									<tr>
										<th scope="row">Genero: </th>
										<td>Hip Hop</td>
									</tr>
									<tr>
										<th scope="row">Estilo: </th>
										<td>-</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:41CF5FD2E08BF2E7F66330661276E071538F82AF&dn=Wu-Tang%20Clan%20-%20%20Enter%20the%20Wu-Tang%20%2836%20Chambers%29&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Laura Shigihara - Plants vs. Zombies Original Soundtrack -->
	<main class="container mt-5 musik-item" category="pop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="https://i.discogs.com/MXpwCdh0Ue4G3_9ePkY5n-dkVamH71cUH3u7rGhWYn0/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTM2OTMz/MTYtMTM0MDYyNDIy/Ny0xNTQyLmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Laura Shigihara - Plants vs. Zombies Original Soundtrack</h1>
							<table class="table_1fWaB">
								<tbody>
									<tr>
										<th scope="row">Sello: </th>
										<td>Not on Label (Laura Shigihara Self-released) – none</td>
									</tr>
									<tr>
										<th scope="row">Formato: </th>
										<td>29 x File, FLAC, Album</td>
									</tr>
									<tr>
										<th scope="row">País: </th>
										<td>US</td>
									</tr>
									<tr>
										<th scope="row">Publicado: </th>
										<td>22 nov 2010</td>
									</tr>
									<tr>
										<th scope="row">Genero: </th>
										<td>Electronic, Pop, Classical, Children's</td>
									</tr>
									<tr>
										<th scope="row">Estilo: </th>
										<td>Modern Classical, Synth-pop, Classical</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:4932EFD5A2CDE54F8BB8D71957D9DA087825B590&dn=Laura%20Shigihara%20-%20Plants%20vs.%20Zombies%20Original%20Soundtrack&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Wu-Tang Clan - Wu-Tang Forever -->
	<main class="container mt-5 musik-item" category="hip-hop">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="https://media.pitchfork.com/photos/633c64bf429633303bba3607/1:1/w_450%2Cc_limit/Wu-Tang%2520Clan%2520-%2520Wu-Tang%2520Forever.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Wu-Tang Clan - Wu-Tang Forever</h1>
							<table class="table_1fWaB">
								<tbody>
									<tr>
										<th scope="row">Sello: </th>
										<td>Loud Records – 74321457682, RCA – 74321457682, BMG – 74321457682</td>
									</tr>
									<tr>
										<th scope="row">Formato: </th>
										<td>CD, Enhanced, All Media, Album, O-card</td>
									</tr>
									<tr>
										<th scope="row">País: </th>
										<td>Europe</td>
									</tr>
									<tr>
										<th scope="row">Publicado: </th>
										<td>03 jun 1997</td>
									</tr>
									<tr>
										<th scope="row">Genero: </th>
										<td>Hip Hop</td>
									</tr>
									<tr>
										<th scope="row">Estilo: </th>
										<td>Hardcore Hip-Hop</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:F90C24DCA6C33E089B2EF07A829B256D966718E8&dn=Wu-Tang%20Clan%20-%20Wu-Tang%20Forever&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Lena Raine - Celeste Original Soundtrack -->
	<main class="container mt-5 musik-item" category="videoGame">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="https://i.discogs.com/2e-Emr4pzVO4OLqo_5glkeP_cZFN8NH4LKqCSrId_rQ/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTExNTkw/MjUzLTE1MTkwMjQ1/NDgtODAyOC5wbmc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Lena Raine - Celeste Original Soundtrack</h1>
							<table class="table_1fWaB">
								<tbody>
									<tr>
										<th scope="row">Sello: </th>
										<td>Radical Dreamland – none</td>
									</tr>
									<tr>
										<th scope="row">Formato: </th>
										<td>21 x Archivo, FLAC, 24-bit</td>
									</tr>
									<tr>
										<th scope="row">País: </th>
										<td>US</td>
									</tr>
									<tr>
										<th scope="row">Publicado: </th>
										<td>25 ene 2018</td>
									</tr>
									<tr>
										<th scope="row">Genero: </th>
										<td>Electronic, Stage & Screen</td>
									</tr>
									<tr>
										<th scope="row">Estilo: </th>
										<td>Chiptune, Video Game Music</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:2FB3596CE86F6973521B5F27ED8B70C0225AFD91&dn=Lena%20Raine%20-%20Celeste%20Original%20Soundtrack&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Various Artists - Celeste B-Sides -->
	<main class="container mt-5 musik-item" category="videoGame">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="https://i.discogs.com/sFvy31EQeKJ42Y3eGEimr2ZQgghjD6ObqvSkw0nzZkI/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTExNTkw/Mjc4LTE1MTkwMjUy/NTEtOTgwMS5wbmc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Various Artists - Celeste B-Sides</h1>
							<table class="table_1fWaB">
								<tbody>
									<tr>
										<th scope="row">Sello: </th>
										<td>Radical Dreamland – none</td>
									</tr>
									<tr>
										<th scope="row">Formato: </th>
										<td>21 x Archivo, FLAC, 24-bit</td>
									</tr>
									<tr>
										<th scope="row">País: </th>
										<td>US</td>
									</tr>
									<tr>
										<th scope="row">Publicado: </th>
										<td>25 ene 2018</td>
									</tr>
									<tr>
										<th scope="row">Genero: </th>
										<td>Electronic, Stage & Screen</td>
									</tr>
									<tr>
										<th scope="row">Estilo: </th>
										<td>Chiptune, Video Game Music</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:53E7C169C5A9E3D4A3E0791D7DC3BFAFBDE29F57&dn=Various%20Artists%20-%20Celeste%20B-Sides&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Russell Shaw - Fable Original Soundtrack -->
	<main class="container mt-5 musik-item" category="videoGame">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="https://i.discogs.com/meH4zZj2RBB8fNyGGP7Q7hFw4_iL2ac9Hr0ZzheK-qU/rs:fit/g:sm/q:90/h:590/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTE1MjI5/NTItMTU5MzAzMjkx/OS0yOTM5LmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Russell Shaw - Fable Original Soundtrack</h1>
							<table class="table_1fWaB">
								<tbody>
									<tr>
										<th scope="row">Sello: </th>
										<td>Sumthing Else Music Works – SE-2014-2</td>
									</tr>
									<tr>
										<th scope="row">Formato: </th>
										<td>CD</td>
									</tr>
									<tr>
										<th scope="row">País: </th>
										<td>US</td>
									</tr>
									<tr>
										<th scope="row">Publicado: </th>
										<td>15 feb 2005</td>
									</tr>
									<tr>
										<th scope="row">Genero: </th>
										<td>Stage & Screen</td>
									</tr>
									<tr>
										<th scope="row">Estilo: </th>
										<td>Soundtrack, Video Game Music</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:E558D0DA61431CF473E1D08FE21DB85B2A9C8565&dn=Russell%20Shaw%20-%20Fable%20Original%20Soundtrack&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Rik Schaffer - Vampire The Masquerade Bloodlines Original Soundtrack -->
	<main class="container mt-5 musik-item" category="videoGame">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="https://i.scdn.co/image/ab67616d0000b27341f6dfc4035911c015211a41" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Rik Schaffer - Vampire The Masquerade Bloodlines Original Soundtrack </h1>
							<table class="table_1fWaB">
								<tbody>
									<tr>
										<th scope="row">Sello: </th>
										<td>Milan Records – 598524</td>
									</tr>
									<tr>
										<th scope="row">Formato: </th>
										<td>2 x Vinilo, LP, Remastered, Red w/ Black Smoke</td>
									</tr>
									<tr>
										<th scope="row">País: </th>
										<td>US</td>
									</tr>
									<tr>
										<th scope="row">Publicado: </th>
										<td>25 oct 2019</td>
									</tr>
									<tr>
										<th scope="row">Genero: </th>
										<td>Electronic, Rock, Stage & Screen</td>
									</tr>
									<tr>
										<th scope="row">Estilo: </th>
										<td>Alternative Rock, Goth Rock, Industrial, Soundtrack, Trip Hop, Video Game Music</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:8650D066629D2E1177A8F49AC0F3A86B023DCE97&dn=Rik%20Schaffer%20-%20Vampire%20The%20Masquerade%20Bloodlines%20Original%20Soundtrack&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
