{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md4">
			<figure class="text-center">
			  <blockquote class="blockquote">
			    <h1>Home</h1>
			  </blockquote>
			</figure>
<!-- C.Terrible -->
			<div class="card card-body">
				<div class="d-flex">
					<div class="flex-shrink-0">
					    <img src="https://geo-media.beatsource.com/image_size/1400x1400/0/b/1/0b177906-5aa2-4f11-b422-b4ad004d52ce.jpg" style="width: 10rem;">
					</div>
					<div class="flex-grow-1 ms-3">
						<h1>C. Terrible – Burundanga</h1>
					    <table class="table_1fWaB">
					    	<tbody>
					    		<tr>
					    			<th scope="row">Sello: </th>
					    			<td>Entik Records - none</td>
					    		</tr>
					    		<tr>
					    			<th scope="row">Formato: </th>
					    			<td>CD, Album</td>
					    		</tr>
					    		<tr>
					    			<th scope="row">País: </th>
					    			<td>Spain</td>
					    		</tr>
					    		<tr>
					    			<th scope="row">Publicado: </th>
					    			<td>2014</td>
					    		</tr>
					    		<tr>
					    			<th scope="row">Genero: </th>
					    			<td>Hip Hop</td>
					    		</tr>
					    	</tbody>
					    </table>
					</div>
					<div>
						<a target="_blank" href="magnet:?xt=urn:btih:0842E51D7DC410C582B17B03B91C7DCA601E9F2D&dn=C.%20Terrible%20%26%20LNS%20-%20Burundanga&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- Motoi Sakuraba - Dark Souls with Artorias of  The Abyss Edition -->
	<main class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://i.discogs.com/Qyv8BJjEA5usFchkn964DQj7IlCW297gbnu10XQMOr0/rs:fit/g:sm/q:90/h:600/w:487/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTY4NzE5/MzktMTQ3NjE4NjI1/OS03NDczLmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Motoi Sakuraba - Dark Souls</h1>
							<h2>With Artorias of The Abyss Edition</h2>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>FromSoftware – FFSA-ST003</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>CD, Album, Cofre, Limited Edition</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>Japan</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>25 oct 2012</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Electronic, Classical, Stage & Screen</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Soundtrack, Video Game Music</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:DCB35A4728886256CA2E5854DDA097D46A60894B&dn=Motoi%20Sakuraba%20-%20Dark%20Souls%20with%20Artorias%20of%20%20The%20Abyss%20Edition&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Jeremy Soule - Neverwinter Nights -->
	<main class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://i.discogs.com/91VRbOm6svOfcqN4b75f1ZTyTuzCj5qnnVVXOL5XoRQ/rs:fit/g:sm/q:90/h:594/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI1NzI0/MzktMTUwOTkyNTQ2/Ny01NDAyLmpwZWc.jpeg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Jeremy Soule – Neverwinter Nights Soundtrack</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>GoG.com – none</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>81 x Archivo, MP3, Stereo, 320 kbps</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>US</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>oct 2010</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Electronic, Stage & Screen</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Soundtrack, Modern Classical, Video Game Music</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div>
							<a target="_blank" href="magnet:?xt=urn:btih:27BC5E05430229AB5AFB07BEAB1133029E34CD71&dn=Jeremy%20Soule%20-%20Neverwinter%20Nights&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<!-- Shawn Lee - Bully Canis Canem Edit -->
	<main class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md4">
				<div class="card card-body">
					<div class="d-flex">
						<div class="flex-shrink-0">
						    <img src="https://is3-ssl.mzstatic.com/image/thumb/Music/5b/85/8f/mzi.kbsdnzzj.jpg/600x600bf-60.jpg" style="width: 10rem;">
						</div>
						<div class="flex-grow-1 ms-3">
							<h1>Shawn Lee - Bully Canis Canem Edit</h1>
						    <table class="table_1fWaB">
						    	<tbody>
						    		<tr>
						    			<th scope="row">Sello: </th>
						    			<td>Rockstar Games – none</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Formato: </th>
						    			<td>26 x Archivo, MP3, VBR, eMusic Edition</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">País: </th>
						    			<td>US</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Publicado: </th>
						    			<td>16 sep 2006</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Genero: </th>
						    			<td>Electronic, Jazz, Rock, Funk / Soul, Stage & Screen</td>
						    		</tr>
						    		<tr>
						    			<th scope="row">Estilo: </th>
						    			<td>Breakbeat, Rock & Roll, Jazz-Funk, Synth-pop, Soundtrack, Video Game Music</td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>
						<div class="container-sm">
							<a target="_blank" href="magnet:?xt=urn:btih:E24B5ABF0100E731B93BEE3FEB05026DD5F9BA2D&dn=Shawn%20Lee%20-%20Bully%20Canis%20Canem%20Edit-1&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
							<i>Primer mitad</i>
						</div>
							<a target="_blank" href="magnet:?xt=urn:btih:D3A0CC3654FF8F6B3F0B8812806900F7BE5FD278&dn=Shawn%20Lee%20-%20Bully%20Canis%20Canem%20Edit-2&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce" class="btn btn-dark" style="margin-top: 15px;">Torrent</a>
							<i>Segunda mitad</i>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}