* {  
  box-sizing: border-box;   
  padding: 0;   
  margin: 0; 
  font-family: 'Cormorant SC', serif;
}

body{
  background-color: #cfcfcf;
}

h1 h2 h3 h4 h5{
  font-family: 'Lobster', cursive;
}

.navbar img{
  height: 50px;
  margin-right: 10px;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: rgb(230, 230, 230);
}

.cover{
    height: 400px;
    background-image: url(https://sm.ign.com/ign_es/news/b/berserk-ma/berserk-manga-to-continue-after-creators-death_92jx.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.card{
  width: 100%;
  margin: 0px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.list-group{
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.category_list{
  display: flex;
}
.category_list .category_item{
  display: block;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#todo{
  background-image: url(https://images.vexels.com/media/users/3/102909/raw/4cc50d13fe7a0098d3bae812851207ef-fondo-musical-corcheas.jpg);
  color: #fff;
  background-position: center;
  background-size: cover;
}
#rock{
  background-image: url(https://www.curiosidades-del-rock.com/base/stock/Parameter/22-image-rock/22-image-rock_web.jpg);
  color: #fff;
  background-position: center;
  background-size: cover;
}
#hip-hop{
  background-image: url(https://free4kwallpapers.com/uploads/originals/2015/08/15/hip-hop-graffiti.jpg);
  color: #fff;
  background-position: center;
  background-size: cover;
}
#videoGame{
  background-image: url(https://e0.pxfuel.com/wallpapers/542/142/desktop-wallpaper-video-game-mashup-art-page-1-thumbnail.jpg);
  color: #fff;
  background-position: center;
  background-size: cover;
}
#pop{
  background-image: url(https://img.freepik.com/premium-vector/orange-comic-pop-art-cartoon-background-design_530597-1925.jpg);
  color: #fff;
  background-position: center;
  background-size: cover;
}
.category_list .ct_item-active{
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.musik-item{
  transition: all .4s;
}

@media (max-width: 700px){
  header{
    flex-direction: column;
  }
  nav{
    padding: 10px 0px;
  }
  .category_list{
    flex-direction: column;
  }
  .container .d-flex{
    padding: 0;
    flex-direction: column;
    width: 100%;
    transform: translate(0);
  }
  .flex-shrink-0{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  th{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  td{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}